<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>
<body>

    <%for(let i=0;i<menu.length;i++){ %>
    <%const menuItem=menu[i] %>
    <div>
        <h3><%= menuItem.item %></h3>
    </div>
    <div>
        <img class="card-image" src="<%= menuItem.image%>" alt="<%= menuItem.item %>" />
    </div>
    <div>
        <h4><%=menuItem.price %></h4>
    </div>
    <%} %>
</body>
</html>